* {
	cursor:default;
	-webkit-nbsp-mode: space;
	/*-webkit-user-select: ignore;*/
}

::-moz-selection{
	background:transparent;
	cursor:default;
}

::selection {
	background:transparent;
	cursor:default;
}

code::-moz-selection {
	background:transparent;
	cursor:default;
}

code::selection {
	background:transparent;
	cursor:default;
}

button, input, select, textarea, {
	-webkit-dashboard-region:dashboard-region(control rectangle);
}

select {
	font-size:8pt;
}

input[type="text"],
input[type="password"],
input[type="searchfield"],
textarea {
	border: 1px solid #ddd;
	padding: 3px;
	background: #fff;
	-webkit-border-radius: 4px;
}
